body{
	display: flex;
	flex-direction: column;
	background-color: #F5F5DC;
}
p {
	color: #006666;
	font-size: 3em;
	text-align: center;
}

#progress{

	align-self: center;
	
}
progress {
	width: 20em;
    height: 2em;
    margin-left: 15%;
    margin-bottom: 20%;
}
progress::-moz-progress-bar {
	background-color: #006666;
}

#comment{
	text-align: center;
	font-size: 2em;
	color:#FF4E00;
}